In [1]:
import psycopg2 #used to connect PostgreSQL with python
import pandas as pd #used to work with excel files

### Connecting to PSQL database using python

In [2]:
conn = psycopg2.connect("dbname=database_name useru=user_name password=password") # chenage the database name, user name and passwprd as per you database

In [3]:
cur=conn.cursor()

### Loading excel file data to a dataframe

In [4]:
df=pd.read_excel("excel file location")

In [5]:
df

,Name,Cust_I,Open_Dt,Consul_Dt,VAC_ID,DR_Name,State,County,DOB,FLAG
0,Alex,123457,2010-10-12,2012-10-13,MVD,Paul,SA,USA,1987-03-06,A
1,John,123458,2010-10-13,2012-10-14,MVD,NaN,TN,IND,1987-03-06,A
2,Mathew,123459,2010-10-14,2012-10-15,MVD,NaN,WAS,PHIL,1987-03-06,A
3,Matt,12345,2010-10-15,2012-10-16,MVD,NaN,BOS,NYC,1987-03-06,A
4,Jacob,1256,2010-10-16,2012-10-17,MVD,NaN,VIC,AU,1987-03-06,A

### ---------------------------------------------------------------------------------------------------------------

#### taking the countries from the dataframe to create tables

In [6]:
a=df["County"]

#### Query to create and insert in to tables

In [ ]:
for i in a:
    
    

    
    table_name="table_"+i    
    
    cur.execute("CREATE TABLE IF NOT EXISTS "+table_name+" (customer_name VARCHAR NOT NULL, customer_id VARCHAR NOT NULL,Customer_Open_Date DATE NOT NULL, Last_Consulted_Date DATE, Vaccination_Type CHAR(5), Doctor_Consulted CHAR(255), State CHAR(5), Country CHAR(6), Date_of_Birth DATE, Active_Customer CHAR(5) )")

    conn.commit()
    print("table createdwith name:",table_name)
    for j in df["County"]:
        
        if(j==i):
            data=df.loc[df["County"] == i]
            print(data)
            print("---------------------------------------------------------------------------------------------")
            cur.execute("INSERT INTO "+table_name+ "(customer_name, customer_id, Customer_Open_Date, Last_Consulted_Date, Vaccination_Type, Doctor_Consulted, State, Country,  Date_of_Birth, Active_Customer ) VALUES('%s','%s','%s','%s','%s','%s','%s','%s','%s','%s');" %(data['Name'].to_string(index=False),data['Cust_I'].to_string(index=False),data['Open_Dt'].to_string(index=False),data['Consul_Dt'].to_string(index=False),data['VAC_ID'].to_string(index=False),data['DR_Name'].to_string(index=False),data['State'].to_string(index=False),data['County'].to_string(index=False),data['DOB'].to_string(index=False),data['FLAG'].to_string(index=False)))

table createdwith name: table_USA
   Name  Cust_I    Open_Dt  Consul_Dt VAC_ID DR_Name State County        DOB  \
0  Alex  123457 2010-10-12 2012-10-13    MVD    Paul    SA    USA 1987-03-06

  FLAG
0    A
---------------------------------------------------------------------------------------------
table createdwith name: table_IND
   Name  Cust_I    Open_Dt  Consul_Dt VAC_ID DR_Name State County        DOB  \
1  John  123458 2010-10-13 2012-10-14    MVD     NaN    TN    IND 1987-03-06

  FLAG
1    A
---------------------------------------------------------------------------------------------
table createdwith name: table_PHIL
     Name  Cust_I    Open_Dt  Consul_Dt VAC_ID DR_Name State County  \
2  Mathew  123459 2010-10-14 2012-10-15    MVD     NaN   WAS   PHIL

         DOB FLAG
2 1987-03-06    A
---------------------------------------------------------------------------------------------
table createdwith name: table_NYC
   Name  Cust_I    Open_Dt  Consul_Dt VAC_ID DR_Name State County        DOB  \
3  Matt   12345 2010-10-15 2012-10-16    MVD     NaN   BOS    NYC 1987-03-06

  FLAG
3    A
---------------------------------------------------------------------------------------------
table createdwith name: table_AU
    Name  Cust_I    Open_Dt  Consul_Dt VAC_ID DR_Name State County        DOB  \
4  Jacob    1256 2010-10-16 2012-10-17    MVD     NaN   VIC     AU 1987-03-06

  FLAG
4    A
---------------------------------------------------------------------------------------------

In [25]:
conn.rollback() # if an error occured while iserting the data we need to rollback the transaction. for that we use this command

In [ ]:
conn.close() #to close the connection